@font-face {
  font-family: "iconfont"; /* Project id 3494997 */
  src: url('../font/iconfont.woff2?t=1657203000164') format('woff2'),
       url('../fonticonfont.woff?t=1657203000164') format('woff'),
       url('../fonticonfont.ttf?t=1657203000164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-qita:before {
  content: "\e6fe";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-choujiang:before {
  content: "\e604";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-youjian_o:before {
  content: "\ebca";
}

.icon-github:before {
  content: "\e603";
}

